@font-face {
  font-family: Satoshi;
  src: url(/fonts/Satoshi-Variable.ttf) format('truetype');
}

body {
  display: grid;
  font-family: Satoshi;
  background: black;
  margin: 0;
}
html, body {

}

html:has(.drill-edit-overlay-outer.drill-edit-overlay-outer.show-grid),
html:has(.plan-meta-overlay-outer.show-grid) {
  overflow: hidden;
}
body:has(.drill-edit-overlay-outer.drill-edit-overlay-outer.show-grid),
body:has(.plan-meta-overlay-outer.show-grid) {
  overflow: hidden;
}
html:has(.hamburger.open) {
  overflow: hidden;
}
body:has(.hamburger.open) {
  overflow: hidden;
}

.auth-wrapper .t-dOnDMp {
  --colors-brandButtonText: white;
  --colors-defaultButtonBackground: #2e2e2e;
  --colors-defaultButtonBackgroundHover: #3e3e3e;
  --colors-defaultButtonBorder: #3e3e3e;
  --colors-defaultButtonText: white;
  --colors-dividerBackground: #2e2e2e;
  --colors-inputBackground: #1e1e1e;
  --colors-inputBorder: #3e3e3e;
  --colors-inputBorderHover: gray;
  --colors-inputBorderFocus: gray;
  --colors-inputText: white;
  --colors-inputPlaceholder: darkgray;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #cfcfcf;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #cfcfcf, 0 0 5px #cfcfcf;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.main-outer {
  display: grid;
  height: auto;
}

.logo-wrap {
  margin: 40px;
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 16px;
}
.logo-text {
  color: white;
  width: min-content;
  font-weight: 500;
  line-height: 105%;
  font-size: 24px;
  margin: auto;
}
.logo-img {
  width: 53px;
  display: grid;
  margin: auto;
}
.logo-img img {
  width: 100%;
  height: 100%;
}

.hero-tagline {
  color: white;
  font-size: clamp(44px, 4vw, 65px);
  font-variation-settings: 'wght' 600;
  margin: 40px auto 0 10%;
  width: clamp(280px, 50vw, 800px);
  text-align: left;
  line-height: 1.1em;
}
.hero-tagline .grad-text {
  background-image: linear-gradient(60deg, #e54343, #45BD51);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero-paragraph {
  color: rgb(159, 159, 159);
  margin: 20px auto 20px 10%;
  font-size: 16px;
  font-variation-settings: 'wght' 500;
  width: clamp(280px, 30vw, 500px);
}

.underlay-image {
  position: absolute;
  top: 100px;
  right: 10%;
  width: clamp(350px, 30vw, 500px);
  z-index: -1;
}
.underlay-image img {
  width: 100%;
  height: 100%;
  border: 1px solid #1d1d1d;
  border-radius: 20px;
  opacity: 0.8;
}



.auth-outer {
  display: grid;
  margin: 0 auto 0 10%;
  width: clamp(100px, 80vw, 400px);
}
.auth-inner {
  width: auto;
  margin: 0;
}
.auth-header {
  margin: 40px 0 0 0;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.c-bRTXzr, .supabase-auth-ui_ui-message {
  color: white;
  font-family: Satoshi !important;
  font-weight: 500;
}
.supabase-auth-ui_ui-button,
.supabase-auth-ui_ui-input,
.supabase-auth-ui_ui-label,
.supabase-auth-ui_ui-anchor {
  font-family: Satoshi !important;
  font-weight: 500;
}

[type="submit"].supabase-auth-ui_ui-button {
  background-color: rgb(73, 73, 73);
  border-color: rgb(33, 33, 33);
}

@media screen and (max-width: 800px) {
  .underlay-image {
    display: none;
  }
  .hero-tagline {
    margin: 20px;
  } 
  .hero-paragraph {
    margin: 0px 20px 20px 20px;
  }
  
  .auth-outer {
    margin: 0 20px;
  }
  .auth-inner {
    margin: 0;
  }
}







/*HOME*/
.dashboard-outer {
  display: grid;
}
.dashboard-inner {
  display: grid;
}
.auth-banner-wrap {
  margin: 0 0;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: max-content max-content;
  height: auto;
  background: #111111;
  color: #ededed;
  border-bottom: 1px solid #1d1d1d;
}
.auth-banner-grid {
  user-select: none;
  margin: 5px auto;
  display: grid;
  grid-auto-flow: row;
  column-gap: 4px;
  grid-template-columns: max-content max-content;
  grid-template-rows: auto;
}
.auth-banner-grid span {
  font-size: 14px;
  font-variation-settings: 'wght' 500;
}
.auth-banner-email-label {
  margin: auto 0 auto 0px;
}
.auth-banner-email {
  margin: auto 0 auto 0px;
}
.auth-banner-edit {
  all: unset;
  font-size: 14px;
  font-variation-settings: 'wght' 500;

  cursor: pointer;
  text-underline-offset: 5px;
  text-decoration: underline;
  margin: 0px 0 5px 0px;

  color: #ededed;
}
.dashboard-top-bar {
  margin: 0 0;
  display: grid;
  grid-template-columns: max-content 1fr max-content max-content;
  grid-auto-flow: column;
  padding: 0 10px 0 0;

  position: relative;

  border-bottom: 1px solid #1d1d1d;
}

.menu-sidebar-outer {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  height: 100dvh;
  background: #1d1d1d;

  padding: 70px 20px;
  display: none;

  opacity: 0;

  z-index: 1;
}
.menu-sidebar-inner {
  display: grid;
  grid-auto-flow: row;
  height: max-content;
}
.menu-sidebar-outer.open {
  display: grid;
}
.menu-sidebar-label:not(.first) {
  margin: 30px 0 0 0;
}
.menu-sidebar-label {
  color: #666;
  font-variation-settings: 'wght' 500;
  letter-spacing: 2px;
  font-size: 14px;
}
.link-group {
  margin: 10px 0;
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
}
.menu-sidebar-link {
  margin: 0 0 0 0;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
  cursor: pointer;
  color: #ededed;
  font-size: 36px;
}
.dashboard-content {
  margin: 40px 6vw;
  display: grid;
  grid-template-rows: max-content max-content;
  row-gap: 40px;
}


.hamburger {
  cursor: pointer;
  margin: 15px 15px;
  height: 30px;
  aspect-ratio: 1 / 1;
  padding: 5px;

  z-index: 2;

  position: relative;
  display: grid;
}
.hamburger img {
  margin: auto;
  width: auto;
  height: 30px;
}
.hamburger-lines {
  display: grid;
  grid-auto-flow: row;
}
.hamburger-lines div {
  margin: auto 0 auto 0;
  height: 2px;
  transition: rotate 0.3s ease, translate 0.3s ease;
  background: #ededed;
}
.open .hamburger-lines div {
  rotate: 90deg;
}
.open .hamburger-lines div:nth-child(1) {
  translate: 30% 10px;
}
.open .hamburger-lines div:nth-child(3) {
  translate: -30% -10px;
}

.navigation-crumbs {
  display: grid;
  margin: auto auto auto 0px;
}
.navigation-crumbs ul.breadcrumb {
  padding: 10px 5px;
  list-style: none;
  margin: auto;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 16px;
  font-variation-settings: 'wght' 500;
  color: white;

  text-transform: capitalize;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: #666666;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #666666;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #c5c5c5;
  text-decoration: underline;
}





.dash-header-wrap {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 40px;
}
.dash-header {
  margin: auto;
  color: white;
  font-variation-settings: 'wght' 500;
  font-size: 64px;
  line-height: 86px;
}
.dash-button {
  cursor: pointer;
  margin: auto;
  width: 165px;
  height: 52px;
  background: #E7E7E7;
  border-radius: 12px;

  display: grid;
}
.dash-button-text {
  color: black;
  font-variation-settings: 'wght' 500;
  margin: auto;
}

.plan-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr) );
  column-gap: 20px;
  row-gap: 20px;
}
@media screen and (max-width: 800px) {
  .plan-grid {
    grid-template-columns: minmax(0, 1fr);
  }
  .dash-header {
    font-size: 34px;
  }
  .dash-button {
    width: 110px;
    border-radius: 0.7em;
    height: 40px;
    font-size: 14px;
  }
  .dashboard-content {
    margin: 10px 20px;
    row-gap: 20px;
  }
}
.plan-item-outer {
  border-radius: 16px;
  border: 2px solid #1d1d1d;
}
.plan-item {
}
.plan-primary-content {
  font-variation-settings: 'wght' 500;
  padding: 23px;
}
.plan-updated-text {
  color: #666666;
  margin: 0px 0px 10px 0;
  font-size: 14px;
  font-variation-settings: 'wght' 500;
}
.plan-item-title {
  color: white;
  font-size: 22px;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.plan-item-description {
  color: #666666;
  font-size: 16px;
  margin: 10px 0 0px 0;
}
.plan-secondary-content {
  font-variation-settings: 'wght' 500;

  border-top: 1px solid #1d1d1d;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content;
  column-gap: 10px;
  row-gap: 10px;
  margin: auto 0 0 0;
  font-size: 14px;
  padding: 16px 20px 16px 20px;
}
.plan-edit {
  display: grid;
}
.plan-edit a {
  cursor: pointer;
  color: #000000;
  padding: 8px 14px;
  border-radius: 8px;
  background: #ededed;
  border: 2px solid #ededed;
  font-size: 14px;

  margin: 0;
  text-align: center;

  color: inherit;
  text-decoration: none;
}
.plan-run {
  grid-column: span 2;
  display: grid;
}
.plan-run a {  
  cursor: pointer;
  color: #ffffff;
  padding: 8px 14px;
  border-radius: 8px;
  background: #252525;
  border: 2px solid #373737;
  font-size: 14px;

  margin: 0;
  text-align: center;

  text-decoration: none;
  transition: background 0.3s ease, color 0.3s ease, opacity 0.3s ease, border 0.3s ease;
}
.plan-run a:focus {
  background: #252525;
  border: 2px solid #585858;
}
.plan-run a:hover {
  background: #1b1b1b;
  border: 2px solid #585858;
}
.plan-copy-link {
  cursor: pointer;
  color: #ededed;
  text-decoration: none;
  text-underline-offset: 5px;
  border: 2px solid #1d1d1d;

  display: grid;
  text-align: center;

  padding: 8px 14px;
  border-radius: 8px;
  background: #000000;
}

.create-plan-wrap {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 2fr minmax(0, 1fr);
  margin: 50px;
}
.view-plan-wrap {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 2fr;
  margin: 50px;
}


.meta-actions-outer {
  display: grid;
  height: auto;
  width: 100%;
}
.meta-actions-inner {
  display: grid;
  height: max-content;
  width: 100%;
  overflow: hidden;
}
.plan-title {
  font-variation-settings: 'wght' 500;
  color: white;
  font-size: 22px;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.plan-title.view {
  font-size: 44px;
}
.plan-description {
  margin: 10px 0 20px 0;
  font-variation-settings: 'wght' 500;
  font-size: 14px;
  color: rgb(178, 178, 178);

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.plan-description.view {
  font-size: 18px;
}

.plan-settings-button {
  all: unset;

  cursor: pointer;
  color: #efefef;
  padding: 8px 12px;
  border-radius: 8px;
  background: #000000;
  border: 2px solid #1d1d1d;

  margin: 0px 0px 0px 0px;
  text-align: center;
  font-variation-settings: 'wght' 500;
  font-size: 14px;

  width: auto;
  height: max-content;

  transition: background 0.3s ease, color 0.3s ease, opacity 0.3s ease, border 0.3s ease;
}
.plan-settings-button:hover, 
.plan-settings-button:focus {
  background: #1b1b1b;
  border: 2px solid #373737;
}

.updated-at-text {
  color: #666666;
  margin: 5px 0px 10px 0;
  font-size: 14px;
  font-variation-settings: 'wght' 500;
}
.updated-at-text.view {
  font-size: 16px;
}

.plan-save-button {
  all: unset;

  cursor: pointer;
  color: #000000;
  padding: 8px 12px;
  border-radius: 8px;
  background: #e5e5e5;

  margin: 40px 0px 0px 0px;
  text-align: center;
  font-variation-settings: 'wght' 500;
  font-size: 14px;

  width: auto;
  height: max-content;

  transition: background 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}
.plan-save-button:hover, 
.plan-save-button:focus {
  background: #c9c9c9;
}
.plan-save-button.saving {
  color: #333;
  position: none;
  opacity: 0.4;
  color: #444;
}

.plan-share-wrap {
  display: grid;
  grid-auto-flow: row;
}
.plan-copy-wrap {
  color: white;
  display: grid;
  grid-template-columns: 1fr max-content;
  position: relative;
  padding: 10px 12px;
  border-radius: 0px 0px 8px 8px;
  border: 2px solid #1d1d1d;
  border-top: none;
  overflow: hidden;
}
.plan-copy-button {
  cursor: pointer;
  margin: auto 0 auto 0px;
  background: #121212;
  display: grid;
  grid-auto-flow: column;
  column-gap: 8px;
  font-size: 14px;
  font-variation-settings: 'wght' 600;
  color: rgb(178, 178, 178);
  padding: 5px 8px;
  border-radius: 6px;
  border: 1px solid #1d1d1d;
  box-shadow: 0px 0px 25px 5px rgb(0, 0, 0);

  transition: background 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}
.plan-copy-button:hover {
  color: white;
}
.plan-copy-icon {
  margin: auto auto auto auto;
}
.plan-url-gradient {
  display: none;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  height: 30px;
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
}
.plan-copy-button-url {
  margin: auto 0 auto 0;
  font-variation-settings: 'wght' 600;
  color: rgb(178, 178, 178);
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
}

.plan-share-icon {
  margin: auto auto auto 0;
  height: 13px;
}
.plan-share-text {
  margin: auto 0 auto auto;
}
.plan-share-button {
  all: unset;

  cursor: pointer;
  color: #ebebeb;
  padding: 8px 12px;
  border-radius: 8px 8px 0px 0px;
  background: #121212;
  border: 2px solid #1d1d1d;
  border-bottom: none;

  margin: 0px 0px 0px 0px;
  text-align: center;
  font-variation-settings: 'wght' 500;
  font-size: 14px;

  display: grid;
  grid-auto-flow: column;

  width: auto;
  height: auto;

  transition: background 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}
.plan-share-button:hover, 
.plan-share-button:focus {
  background: #232323;
}

.action-button-grid {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
}

.credit-grid {
  display: grid;
  grid-auto-flow: row;
  width: auto;
  overflow: hidden;
  grid-template-columns: minmax(0, 1fr);

  border: 2px solid #1d1d1d;
  border-radius: 10px;
}
.author-box {
  height: max-content;
  width: auto;
  padding: 12px 14px;
  font-variation-settings: 'wght' 500;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr max-content;
}
.author-meta {
  display: grid;
  grid-auto-flow: row;
  height: max-content;
  row-gap: 0px;
}
.author-label {
  color: #666;
  margin: auto 5px auto 0px;
  font-size: 14px;
}
.author-value {
  color: rgb(255, 255, 255);
  margin: auto 0 auto 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100%);
}
.author-logo {
  margin: auto 15px auto 15px;
  display: grid;
}
.image-logo {
  border: 2px solid rgb(33, 33, 33);
  border-radius: 50%;
  width: 35px;
  height: 35px;
}



.drill-library-outer {
  display: grid;
  height: max-content;
}
.drill-library-inner {
  display: grid;
  position: relative;
}
.drill-library-item-outer {
  display: grid;
  height: max-content;
}
.drill-library-item-inner {
  display: grid;
  position: relative;
}

.drill-library-list {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
  overflow-y: hidden;
}
.drill-list-expand {
  cursor: pointer;
  position: absolute;
  font-variation-settings: 'wght' 500;
  color: white;

  display: none;

  bottom: 0px;
  left: 0;

  width: calc(100% - 32px);
  box-shadow: 0px 0px 30px 20px black;

  padding: 7px 14px;
  border-radius: 8px;
  background: #1d1d1d;

  margin: 15px 0px auto 0px;
  text-align: center;
  font-variation-settings: 'wght' 500;
  font-size: 14px;

  height: max-content;

  transition: background 0.3s ease, color 0.3s ease, opacity 0.3s ease, border 0.3s ease;
}
.drill-list-expand:hover, 
.drill-list-expand:focus {
  background: #373737;
}
.expand + .drill-list-expand {
  box-shadow: none;
  display: block;
  bottom: -50px;
}

.drill-library-title {
  font-variation-settings: 'wght' 500;
  color: white;
  font-size: 34px;
}
.drill-library-description {
  margin: 10px 0 20px 0;
  font-variation-settings: 'wght' 500;
  font-size: 16px;
  color: #666666;
}

.drill-library-item-outer {
  border: 2px solid #1d1d1d;
  border-radius: 8px;
  padding: 15px;
}
.drill-library-item-title {
  font-variation-settings: 'wght' 500;
  color: white;
  font-size: 16px;
}
.drill-library-item-description {
  margin: 10px 0 0px 0;
  font-variation-settings: 'wght' 500;
  font-size: 14px;
  color: #666666;
}
.drill-library-item-button {
  all: unset;

  cursor: pointer;
  color: #ffffff;
  padding: 7px 14px;
  border-radius: 8px;
  background: #000000;
  border: 2px solid #1d1d1d;

  margin: 15px 0px auto 0px;
  text-align: center;
  font-variation-settings: 'wght' 500;
  font-size: 14px;

  width: auto;
  height: max-content;

  transition: background 0.3s ease, color 0.3s ease, opacity 0.3s ease, border 0.3s ease;
}
.drill-library-item-button:hover, 
.drill-library-item-button:focus {
  background: #1b1b1b;
  border: 2px solid #373737;
}




.creation-outer {
  border-radius: 12px;
  margin: 0 40px;
  /* border: 2px solid #1d1d1d; */
  background: #000000;
  display: grid;
  height: max-content;
}
.creation-outer.view {
  margin: 0 0 0 80px;
}
@media screen and (max-width: 1000px) {
  .view-plan-wrap {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: max-content 1fr;
    margin: 20px;
  }
  .creation-outer.view {
    margin: 20px 0 0 0px;
  }
  .plan-title.view {
    font-size: 22px;
  }
  .updated-at-text.view {
    font-size: 14px;
  }
  .plan-description.view {
    font-size: 16px;
  }
}
.creation-inner {
  display: grid;
  height: max-content;
  padding: 0px;
  row-gap: 30px;
}

.creation-live-tools {
  background: #000000;
  border-radius: 10px;
  display: grid;

  overflow: hidden;
  position: relative;
}

.live-tools-grid {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content;
  column-gap: 20px;
}

.run-plan-button {
  all: unset;

  grid-area: 1 / 1 / 2 / 1;
  grid-row: span 2;

  cursor: pointer;
  color: #ffffff;
  padding: 7px 14px;
  border-radius: 8px;
  background: #252525;
  border: 2px solid #373737;

  margin: 0px 0px 15px 0px;
  text-align: center;
  font-variation-settings: 'wght' 500;
  font-size: 18px;

  width: auto;
  height: auto;

  transition: background 0.3s ease, color 0.3s ease, opacity 0.3s ease, border 0.3s ease;
}
.run-plan-button:hover {
  background: #1b1b1b;
  border: 2px solid #585858;
} 
.run-plan-button:focus {
  background: #252525;
  border: 2px solid #585858;
}
.live .run-plan-button {
  background: #ffb1004f;
  animation: livePulse 1.5s ease 0s infinite forwards;
}
@keyframes livePulse {
  0% {
    border: 2px solid #bb9b51;
  }
  50% {
    border: 2px solid #91773b00;
  }
  100% {
    border: 2px solid #bb9b51;
  }
}

.live-current-drill-wrap {
  margin: 5px 0 5px 0px;
  display: grid;
  grid-auto-flow: column;
  font-variation-settings: 'wght' 600;
  column-gap: 15px;
  width: auto;

  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;

  background: #3d3d3d00;
  color: #3d3d3d;
  transition: background 0.3s ease;
}
.live-current-drill-wrap span {
  transition: color 0.3s ease;
}
.live-timeline-meta {
  margin: 5px 0 5px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  font-variation-settings: 'wght' 600;
  width: auto;
  
  gap: 2px;

  background: #3d3d3d00;
  color: #3d3d3d;
  transition: background 0.3s ease;
}
.live-timeline-meta span {
  transition: color 0.3s ease, background 0.3s ease;
  margin: 0 0 0 0px;
  padding: 10px 13px;
  background: #1d1d1d;
  font-size: 14px;
}
.timeline-current-state {
  display: none;
  margin: 0 0px 0px 0px;
  padding: 0 15px;
  color: #9a9a9a;
  background: #1e1e1e;
  letter-spacing: 1px;
  width: 80px;
  text-align: center;

}
.timeline-meta-spacer {
  color: #666;
  display: none;
}
.timeline-current-time {
  width: auto;
  margin: 0 0px 0 0px;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.timeline-progress-quantity {
}

.current-live-drill-box:last-child {
  border-bottom: none;
}
.current-live-drill-box {
  position: relative;

  padding: 12px 16px 20px 16px;
  background: #121212;
  border-radius: 10px;
  font-variation-settings: 'wght' 500;
  font-size: 16px;
  transition: color 0.3s ease, background 0.3s ease;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 20px;
}
.current-live-drill-box-meta-inner {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr max-content;
  grid-template-rows: max-content max-content;
  margin: 0px 0px 8px 0px;
}

.current-live-drill-box .title {
  margin: auto 0 auto 0px;
  z-index: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
}
.current-live-drill-box .drill-content-dating {
  margin: auto 0 auto 10px;
  padding: 5px 5px;
}
.current-live-drill-box .drill-dating-range{
  margin: 5px 0px 8px 0;
  z-index: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.progress-inner {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content 1fr;
  position: relative;

  border-radius: 8px;
  border: 2px solid #2f2f2f;
}

.progress-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 6px;

  width: 0%;
  background: #2f2f2f;
  margin: 1px;

  transition: width 0.8s ease-out;
}
.live-timeline-drill-label {
  color: #666;
  display: none;
}

.live-current-drill-wrap {
  background: #121212;
  border-radius: 10px;
}
.live-current-drill-label {
  padding: 10px 14px;
  margin: 0px 0 0px 0px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: 0px solid #1D1D1D;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content max-content 1fr;
}
.live-current-drill-label span {
  margin: auto auto auto 5px;
}
.current-live-drill-count {
  margin: 0 0 0 15px;
  border: 2px solid #1d1d1d;
  border-radius: 8px;

  font-size: 14px;

  height: 28px;
  width: 28px;

  display: grid;
  place-items: center;
}
.live-current-drill-label svg {
  cursor: pointer;
  margin: 0 0px 0 auto;
  display: grid;
  place-items: center;
  padding: 3px;
  border-radius: 8px;
  background: #1d1d1d;

  transition: transform 0.3s ease;
}
.live-current-drill-label.expand svg { 
  transform: rotateX(180deg);
}
.live  .live-current-drill-label {
  color: #ededed;
}
.expand.live-current-drill-label {
  border-bottom: 2px solid #1D1D1D;
}
.live-current-drill-grid {
  display: grid;
  grid-auto-flow: row;
  row-gap: 5px;
  border-radius: 6px;
  overflow: hidden;
  
  height: 0;
  margin: 0;
  transition: height 0.3s ease, margin 0.3s ease;
}
.expand + .live-current-drill-grid {
  height: auto;
  margin: 5px 0;
}
.live .current-live-drill-box {
  color: rgb(255, 255, 255);
}
.live .live-timeline-meta {
  background: #3d3d3d00;
}
.live .timeline-current-time {
  color: #E5B843;
  display: block;
  opacity: 1;
}
.live .timeline-current-state {
  color: #E5B843;
  background: #4f3700;
}
.live .timeline-status.running-behind {
  color: #E54343;
}
.live .timeline-status.on-schedule {
  color: #46F11B;
}
.live .timeline-status.ahead-of-schedule {
  color: #1BF1CA;
}
.live .timeline-live-quantity {
  color: #E5B843;
}
.live .timeline-late-quantity {
  color: #E54343;
}
.live .timeline-complete-quantity {
  color: #ededed;
}
.timeline-quantity.show {
  display: block;
}
.timeline-quantity {
  display: none;
}


.creation-label {
  color: white;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
}
.creation-label-text {
  font-variation-settings: 'wght' 500;
  font-size: 14px;
  letter-spacing: 1px;
}
.creation-label-line-left {
  background: #666;
  height: 2px;
  width: auto;
  margin: auto 15px auto 0;
}
.creation-label-line-right {
  background: #666;
  height: 2px;
  width: auto;
  margin: auto 0 auto 15px;
}

.creation-grid-wrap {
  display: grid;
  position: relative;
  margin: 0px 0px 0px 0px;
  transition: margin 0.3s ease;
}
.creation-grid-wrap:has(.live) {
  transition: margin 0.3s ease;
  margin: 0px 0px 0px 0px;
}
.creation-grid {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;

  position: relative;
}

.creation-live-bar-wrap {
  pointer-events: none;

  position: absolute;
  top: 0;
  left: 0px;
  right: 0;

  height: auto;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  opacity: 0;

  z-index: 2;
}
.live + .creation-live-bar-wrap {

}

.creation-live-bar {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr max-content 1fr;
  margin: auto 0;
  width: auto;
  height: auto;
}
.creation-live-bar-text {
  display: grid;
  margin: auto 10px;
  width: max-content;
  font-variation-settings: 'wght' 500;
  letter-spacing: 1px;
  color: #E5B843;
}
.creation-live-bar-left {
  margin: auto 0px;
  background: #E5B843;
  height: 2px;
}
.creation-live-bar-right {
  margin: auto 0px;
  background: #E5B843;
  height: 2px;
}
.creation-grid.live {
  margin: 0px 0px 40px 0px;
}
.live-bar-wrap {
  position: absolute;
  display: grid;
  top: 0;
  left: 0;
  width: 100%;
}
.live-bar-inner {
  display: grid;
  margin: 0;
  width: auto;
}
.live-bar {
  background: #666;
  height: 2px;
  width: auto;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.live .live-bar {
  background: #E5B843;
  opacity: 1;
}

.drill-item-outer:first-child {
  margin-top: 0;
}

.drill-item-outer {
  display: grid;
  margin: 0px 0px;
  border: 2px solid #1D1D1D;
  background: #121212;
  border-radius: 8px 8px 8px 8px;
  padding: 20px;

  position: relative; 

  transition: border-radius 0.3s ease;
}

.live .drill-item-outer {
  border-radius: 0px 0px 8px 8px;
}
.drill-item-live-flag {
  position: absolute;
  top: 0%;
  translate: -2px calc(100%);
  left: 0px;
  right: -4px;
  padding: 7px 14px 10px 14px;
  background: #121212;
  border-radius: 8px 8px 0px 0px;
  border: 2px solid #1D1D1D;
  border-bottom: none;
  font-variation-settings: 'wght' 500;
  font-size: 14px;
  letter-spacing: 2px;
  z-index: -1;

  transition: translate 0.8s ease-out;
}


.drill-item-live-flag.upcoming {
  color: #666;
}
.drill-item-live-flag.live {
  color: #e4c066;
}
.drill-item-live-flag.completed {
  color: #46F11B;
}
.drill-item-live-flag.late {
  color: #ff7465;
}

.live .drill-item-live-flag {
  transition: translate 0.8s ease-out;
  transition-delay: 0s;
  translate: -2px calc(-100% + 2px);
}
.drill-item-inner {
  display: grid;
  grid-template-rows: max-content max-content 0px;
  transition: grid-template-rows 0.8s ease-out;
}
.create-plan-wrap .live .drill-item-inner {
  transition-delay: 0s;
  grid-template-rows: max-content max-content 50px;
}
.drill-primary-content {
  display: grid;
  grid-template-columns: 1fr max-content;
}
.drill-content-meta {
  display: grid;
  grid-template-rows: max-content max-content;
}
.drill-item-title {
  color: white;
  font-size: 24px;
  font-variation-settings: 'wght' 500;
  line-height: 120%;
}
.drill-item-description {
  color: #666666;
  margin: 10px 0 20px 0;
  font-variation-settings: 'wght' 500;
  font-size: 15px;
  line-height: 140%;
  max-width: 530px;
}
.drill-index-box {
  color: rgb(178, 178, 178);
  display: grid;
  place-items: center;

  padding: 0 8px;

  font-variation-settings: 'wght' 500;
  letter-spacing: 2px;
  font-size: 14px;

  background: #1d1d1d00;
  border-radius: 6px;
  width: max-content;
  height: 30px;
}
.drill-secondary-content {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto auto;
  column-gap: 10px;
}
.drill-content-dating {
  display: none;
  grid-auto-flow: column;
  grid-template-columns: max-content max-content;

  width: max-content;
  padding: 8px 10px;
  border-radius: 8px;
  background: #1d1d1d;
  border: 2px solid #1d1d1d;

  font-size: 14px;
  z-index: 2;
}
.drill-content-dating.show {
  display: grid;
}
.drill-dating-duration {
  margin: auto 0;
  font-variation-settings: 'wght' 500;
  color: #ededed;
}
.drill-dating-separator {
  font-variation-settings: 'wght' 500;
  margin: auto 6px;
  color: #8e8e8e;
  display: block;
}
.drill-dating-range {
  margin: auto 0;
  font-variation-settings: 'wght' 500;
  color: #8e8e8e;
}
.drill-edit {
  all: unset;

  cursor: pointer;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 8px;
  background: #000000;
  border: 2px solid #1d1d1d;

  margin: auto 0px auto auto;
  text-align: center;
  font-variation-settings: 'wght' 500;
  font-size: 14px;

  width: max-content;
  height: max-content;

  transition: background 0.3s ease, color 0.3s ease, opacity 0.3s ease, border 0.3s ease;
}
.drill-edit.hide {
  display: none;
}
.drill-edit:hover, 
.drill-edit:focus {
  background: #1b1b1b;
  border: 2px solid #373737;
}
.drill-edit-data {
  display: none;
}

.drill-live-content {
  pointer-events: none;
  display: grid;
  width: auto;
  margin: 10px 0;
  opacity: 0;

  translate: 0 50%;
  transition: all 0.3s ease;
}
.drill-mark-complete-button {
  all: unset;

  cursor: pointer;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 8px;
  background: #000000;
  border: 2px solid #1d1d1d;

  margin: auto 0px auto 0px;
  text-align: center;
  font-variation-settings: 'wght' 500;
  font-size: 14px;

  width: auto;
  height: max-content;

  transition: background 0.3s ease, color 0.3s ease, opacity 0.3s ease, border 0.3s ease;
}
.drill-mark-complete-button:hover,
.drill-mark-complete-button:focus {
  background: #1b1b1b;
  border: 2px solid #373737;
}
.completed + .drill-item-inner .drill-mark-complete-button {
  color: #666;
  background: #121212;
}
.live .drill-live-content {
  transition: all 0.8s ease;
  pointer-events: all;
  transition-delay: 300ms;
  opacity: 1;
  translate: 0 0%;
}


.creation-add-button {
  cursor: pointer;
  color: #d8d8d8;
  padding: 8px 14px;
  border-radius: 8px;
  background: #000000;
  border: 2px solid #666;

  margin: 20px 0 0 0;
  text-align: center;
  font-variation-settings: 'wght' 500;
  font-size: 16px;

  width: auto;
  height: max-content;
  
  transition: background 0.3s ease, color 0.3s ease, opacity 0.3s ease, border 0.3s ease, margin 0.3s ease;
}
.creation-add-button:hover, 
.creation-add-button:focus {
  background: #1b1b1b;
  border: 2px solid rgb(140, 140, 140);
}
.live + .creation-add-button {
  margin: 50px 0 0 0;
}

.plan-meta-overlay-outer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  background: #1b1c1c;

  opacity: 0;
  scale: 1;
  overflow-y: auto;

  transition: opacity 0.3s ease, scale 0.3s ease;
}
.plan-meta-overlay-outer.show-grid {
  display: grid;
  z-index: 100;
}
.plan-meta-overlay-outer.show-animate {
  animation: pushIn 0.3s ease 0s 1 forwards;
}
.meta-form-title {
  font-variation-settings: 'wght' 500;
  color: white;
  font-size: 34px;
}
.meta-form-description {
  margin: 10px 0 10px 0;
  font-variation-settings: 'wght' 500;
  font-size: 16px;
  color: #666666;
}

.title-label, .description-label {
  color: #666666;
  margin: 18px 0 8px;
  font-size: 16px;
  font-variation-settings: 'wght' 500;
}
.plan-title-input, .plan-description-input {
  color: white;
  border: 2px solid #414141;
  background: none;
  border-radius: 8px;
  height: 35px;
  width: auto;
  font-size: 16px;
  font-family: inherit;
  font-variation-settings: 'wght' 500;
  padding: 0 11px;

  transition: border-color 0.3s ease;
}
.plan-title-input:focus, .plan-description-input:focus {
  outline: none;
  border-color: #666666;
}
.meta-plan-switches {
  display: grid;
  grid-auto-flow: row;
  margin: 20px 0;
}
.meta-plan-notifications {
  display: grid;
  margin: 0px 0;
  padding: 10px;
  border-radius: 12px;
  background: #121212;
  column-gap: 10px;
  grid-template-columns: minmax(0, 1fr) max-content;
  grid-template-rows: max-content max-content;
  opacity: 0.6;
  cursor: not-allowed;
}
.meta-plan-notifications.enable {
  cursor: initial;
  opacity: 1;
}
.plan-notification-info {
  margin: 7px auto 8px 10px;
  display: grid;
  row-gap: 5px;
}
.plan-notification-label {
  font-size: 18px;
  font-variation-settings: 'wght' 500;
}
.plan-notification-description {
  color: #666666;
  font-size: 14px;
  line-height: 1.3;
  font-variation-settings: 'wght' 500;
}
.meta-plan-notifications > qwik-react {
  margin: auto 0 auto auto;
}
body.requesting {
  cursor: wait !important;
}
body.requesting .meta-plan-notifications > qwik-react {
  cursor: wait !important;
}
body.requesting .meta-plan-notifications > qwik-react > span {
  pointer-events: none
}
.plan-notification-example {
  margin: 10px;
  grid-column: span 2;
  display: grid;
}
.example {
  margin: 0;
  background: url('/notif-actual.png');
  min-height: 70px;

  display: grid;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}
.example img {
  margin: 0 0;
  height: auto;
  width: 100%;
}
.pwa-enabled {
  margin: 20px 10px 10px 10px;
  font-variation-settings: 'wght' 500;
  font-size: 14px;
  color: #ededed;
  line-height: 1.4;
  max-width: 400px;
}
.pwa-enabled a {
  color: #e4c066;
}


.plan-meta-overlay-inner {
  display: grid;
  margin: 0 auto 0 auto;
  width: clamp(0px, 100%, 800px);

  overflow-y: auto;
}
.plan-meta-form-outer {
  display: grid;
  height: max-content;
}
.plan-meta-form-inner {
  color: white;
  

  display: grid;
  grid-auto-flow: row;
  padding: 40px;
  margin: 0 0px;
}
.plan-delete-button {
  all: unset;

  cursor: pointer;
  color: #ffffff;
  padding: 10px 18px;
  border-radius: 8px;
  background: #000000;

  margin: auto 0px auto auto;
  text-align: center;
  font-variation-settings: 'wght' 500;
  font-size: 16px;

  width: max-content;
  height: max-content;

  transition: background 0.3s ease;
}
.plan-delete-button.show {
  display: block;
}
.plan-delete-button:hover, 
.plan-delete-button:focus {
  background: #161616;
}
.plan-delete-button.deleting {
  color: #292929;
  position: none;
  opacity: 0.4;
  color: #444;
}

.drill-edit-overlay-outer {
  z-index: 100;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  background: #1b1c1c;

  opacity: 0;
  scale: 1;
  overflow-y: auto;

  transition: opacity 0.3s ease, scale 0.3s ease;
}
.drill-edit-overlay-outer.show-grid {
  display: grid;
}
.drill-edit-overlay-outer.show-animate {
  animation: pushIn 0.3s ease 0s 1 forwards;
}
.drill-edit-overlay-outer.hide-animate {
  opacity: 1;
  scale: 1;
  animation: pushIn 0.3s ease 0s 1 forwards;
}
@keyframes pushIn {
  0% {
    opacity: 0;
    scale: 0.9;
  }
  50% {
    opacity: 1;
    scale: 0.9;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.drill-edit-overlay-inner {
  display: grid;
  margin: 0 auto 0 auto;
  width: clamp(0px, 100%, 1400px);

  overflow-y: auto;
}

.drill-edit-title {
  font-variation-settings: 'wght' 500;
  color: white;
  font-size: 34px;
}
.drill-edit-description {
  margin: 10px 0 20px 0;
  font-variation-settings: 'wght' 500;
  font-size: 16px;
  color: #666666;
}

.drill-edit-meta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 1fr;
  column-gap: 0vw;
  height: auto;
  margin: 0;
}

.top-actions-meta-form {
  grid-column: span 2;
  display: grid;
  grid-auto-flow: column;
  margin: 40px;
}


.exit-edit-meta-form {
  cursor: pointer;
  color: white;
  font-variation-settings: 'wght' 500;
  font-size: 18px;
  margin: auto 0px auto 0px;
  height: min-content;
}
.creation-delete-button {
  all: unset;

  cursor: pointer;
  color: #ffffff;
  padding: 10px 18px;
  border-radius: 8px;
  background: #000000;

  display: none;

  margin: auto 0px auto auto;
  text-align: center;
  font-variation-settings: 'wght' 500;
  font-size: 16px;

  width: max-content;
  height: max-content;

  transition: background 0.3s ease;
}
.creation-delete-button.show {
  display: block;
}
.creation-delete-button:hover, 
.creation-delete-button:focus {
  background: #161616;
}
.creation-delete-button.deleting {
  color: #292929;
  position: none;
  opacity: 0.4;
  color: #444;
}

.drill-edit-meta-form-data {
  display: grid;
  height: max-content;
  padding: 40px 40px 40px 40px;
}
.drill-title-input {
  color: white;
  border: 2px solid #414141;
  background: none;
  border-radius: 8px;
  height: 35px;
  width: auto;
  font-size: 16px;
  font-family: inherit;
  font-variation-settings: 'wght' 500;
  padding: 0 11px;

  transition: border-color 0.3s ease;
}
.drill-description-input {
  color: white;
  border: 2px solid #414141;
  background: none;
  border-radius: 8px;

  resize: none;
  width: auto;
  font-size: 16px;
  font-family: inherit;
  font-variation-settings: 'wght' 500;
  padding: 8px 11px;

  transition: border-color 0.3s ease;
}
.drill-title-input:focus, .drill-description-input:focus {
  outline: none;
  border-color: #666666;
} 

.drill-dating {
  margin: 40px 0 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
.drill-time-start {
  display: grid;
}
.drill-time-start > qwik-react {
  display: grid;
}
.drill-time-end {
  display: grid;
}
.drill-time-end > qwik-react {
  display: grid;
}

.creation-save-button {
  all: unset;

  cursor: pointer;
  color: #000000;
  padding: 10px 14px;
  border-radius: 8px;
  background: #c1c1c1;

  margin: 40px 0px 20px 0px;
  text-align: center;
  font-variation-settings: 'wght' 500;
  font-size: 16px;

  width: auto;
  height: max-content;

  transition: background 0.3s ease;
}
.creation-save-button:hover, 
.creation-save-button:focus {
  background: #d9d9d9;
}
.creation-save-button.saving {
  color: #333;
  position: none;
  opacity: 0.4;
  color: #444;
}

.MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #fff;
}
.MuiOutlinedInput-notchedOutline.Mui-focused {
  border-color: #666666;
}


.drill-edit-meta-form-preview {
  background: #141414;
  color: white;
  display: grid;
  grid-template-rows:  max-content max-content 1fr;
  padding: 40px;
}

.drill-preview-title {
  font-variation-settings: 'wght' 500;
  color: white;
  font-size: 34px;
}
.drill-preview-description {
  margin: 10px 0 20px 0;
  font-variation-settings: 'wght' 500;
  font-size: 16px;
  color: #666666;
  height: min-content;
}

.preview-inner {
  margin: 10px 0 auto 0;
  display: grid;
}

@media screen and (max-width: 1030px) {
  .drill-library-list {
    max-height: 60vh;
  }
  .drill-library-list.expand {
    max-height: none;
    overflow-y: auto;
    z-index: initial;
  }
  .drill-list-expand {
    display: block;
  }

  .updated-at-text {
/*     display: none;
 */  }
  .create-plan-wrap {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr;
    column-gap: 20px;
    row-gap: 40px;
    margin: 20px;
  }
  .creation-outer {
    margin: 0;
  }
}
@media screen and (max-width: 830px) {
  .live-tools-grid {
    grid-template-columns: 1fr;
  }
  .live-current-drill-wrap {
    margin: 15px 0px 0px 0px;
  }
  .top-actions-meta-form {
    grid-column: unset;
  }
  .drill-edit-meta-form {
    grid-template-columns: 1fr;
  }
  .top-actions-meta-form {
    margin: 20px 20px 30px 20px;
  }
  .drill-edit-meta-form-data {
    padding: 0px 20px 20px 20px;
  }
  .plan-meta-form-inner {
    padding: 0px 20px 20px 20px;
  }
}


/* sandbox */
.sandbox-wrap {
  margin: 0px;
  display: grid;
  height: 100vh;
}
.sandbox-wrap canvas {
  width: 100%;
  height: 100%;
}
canvas.select {
  cursor: default;
}
.sandbox-wrap.move {
  cursor: move;
}
.move canvas {
  pointer-events: none;
}
.write-box {
  position: absolute;
  bottom: 0;
  padding: 20px;
  font-size: 14px;
  pointer-events: none;
  user-select: none;
}
.var-wrap {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content max-content;
  column-gap: 15px;
}
.var-wrap .label {
  color: rgb(177, 177, 177);
}
.var-wrap .val {
  color: white;
}

.sandbox-toolbar-outer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.sandbox-toolbar-inner {
  position: relative;

  display: grid;
  grid-template-columns: max-content max-content max-content max-content;

  border-bottom: 1px solid #292929;

  user-select: none;
}
.mouse-tools {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #000000;
}
.mouse-tool {
  cursor: pointer;
  border-left: 1px solid #292929;
  padding: 0 20px;
  display: grid;
}
.mouse-tool:first-child {
  border-left: none;
}
.mouse-tool svg {
  margin: auto;
  color: #666;

  transition: color 0.3s ease;
}
.mouse-tool.active svg {
  color: #fff;
}
.view-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  padding: 5px 10px;

  background: #000000;
}
.view-action {
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #292929;
  display: grid;
  padding: 5px 10px;

  background: #1d1d1d;

  color: #666;
}
.view-action:first-child {
  border-left: none;
}
.view-action:hover {
  color: #fff;
}
.view-action svg {
  margin: auto;
  color: inherit;

  transition: color 0.3s ease;
}
.content-control-wrap {
  display: grid;
  grid-auto-flow: column;
  padding: 8px 13px;
  column-gap: 10px;
  background-color: black;
}

.add-offense-player {
  all: unset;
  cursor: pointer;
  color: #ffffff;
  padding: 7px 12px;
  background: #252525;
  text-align: center;
  font-variation-settings: 'wght' 500;
  font-size: 14px;
  width: auto;
  height: auto;
  transition: background 0.3s ease, color 0.3s ease, opacity 0.3s ease, border 0.3s ease;
}

.get-positionals-button {  
  all: unset;
  font-family: inherit;

  cursor: pointer;
  color: #ffffff;

  padding: 7px 12px;
  background: #252525;


  margin: auto 0px 0px 0px;
  text-align: center;
  font-variation-settings: 'wght' 500;
  font-size: 14px;

  width: auto;
  height: max-content;

  transition: background 0.3s ease, color 0.3s ease, opacity 0.3s ease, border 0.3s ease;
}

.content-control-wrap > * {
  border-radius: 8px;
  border: 2px solid #373737;
}
.content-control-wrap > *:hover {
  background: #1b1b1b;
  border-color: #585858;
} 
.content-control-wrap > *:focus {
  background: #252525;
  border-color: #585858;
}

.sandbox-toolbar-inner > * {
  border-right: 1px solid #292929;
}